<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/youth/Desktop/new/bbb/src/test/java/flietwo"><classes><class name="flietwo.testT"><methods><include name="testt"/></methods></class></classes></test></suite>